h1 {
    text-align: center;
}

.marker {
    height: 50px;
    width: 400px;
    margin: 20px auto;
}

.red {
    background: linear-gradient(180deg, rgb(122, 74, 14) 0%, rgb(245, 62, 113) 50%, rgb(162, 27, 27) 100%);
    box-shadow: 0 0 40px 0 rgb(83, 14, 14, 0.8);
}

.green {
    background: linear-gradient(#55680D, #71F53E, #116C31);
    box-shadow: 0 0 40px 0 #3B7E20CC;
}

.blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 40px 0 hsla(223, 59%, 31%, 0.8);

}

.container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}

.sleeve {
    width: 220px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 20px double rgba(0, 0, 0, 0.75);
}

.cap {
    width: 120px;
    height: 50px;
}

.sleeve,
.cap {
    display: inline-block;
}